
    <form class='comment-form'>
  <label for='comment'>
    Add Comment:
  </label>
  <br />
  <textarea id='commentContent' name='comment' rows='2' cols='30'>
  </textarea>
  <br />
  <br />
  <button type='submit' value='Submit'>
    Submit
  </button>
  <input type="hidden" id="userId" value="{{req.session.UserId}}">
  <input type="hidden" id="postId" value="{{post.id}}">
</form>
