

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">That_Bytes Tech Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>Home page
</h1>
    <h3>Number of times you've visited the homepage: {{countVisit}}</h3>
{{!-- blog posts card --}}
<div class="container-fluid">

   <div class="flex-column justify-space-between">
     {{#each posts as |post|}}
       {{> post-details}}
      {{/each}}
   </div>
  </div>


  {{#if loggedIn}}
   <div class="flex-column justify-space-between">
     {{#each posts as |post|}}
       {{> post-details}}
       <button>Comment</button>
       
      {{/each}}
   </div>
  </div>
{{else}}
<a href="/login">You must login first to view this page</a>
{{/if}}
{{!-- new post --}}
 <div class='post-container'>
    <form class='new-post-form'>
      <label for='post'>
        {{username}}
      </label>
      <br />
      <textarea id='postContent' name='post' rows='2' cols='30'>
      </textarea>
      <br />
      <br />
      <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div>